.pagination-pages {
    margin: 0 auto 15px;
    position: sticky;
    z-index: 100;
    bottom: 15px;
    box-shadow: 0px 0px 27px -3px rgba(255, 255, 255, 1);
    .page-link {
        cursor: pointer;
    }
}